@model IndexViewModel
@{
    ViewBag.Title = "Manage profile";
}

<h2>@ViewBag.Title</h2>

<div>
    <h5>@Html.ActionLink("Edit your profile", "EditProfile") </h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>

        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Address:</dt>
        <dd>@Model.Address</dd>

        <dt>Phone number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Birthday:</dt>
        <dd>@Model.Birthday.ToString("MM/dd/yyyy")</dd>

        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change your password", "ChangePassword")]
        </dd>
    </dl>
</div>